html {
	height: 100%;
    margin: 0;
    background-color: #000000;
}

body {
	font-family: Arial Narrow, sans-serif;
	font-weight: 600;
	height: 100%;
    margin: 0;
}

h1 {
	font-size: 50px;
	text-align: center;
	color: #4CAF50;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    left: 0px;
}

th {
    border: 2px solid black;
    width: 500px;
    height: 30px;
    border-collapse: collapse;
    background-color: #4CAF50;
    color: #FFFFFF;
    left: 0px;
}

td {
    border-right: 2px solid black;
    height: 30px;
    border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: #A9A9A9;
}
tr:nth-child(odd) {
	background-color: #FFFFFF;
}

#bild {
	background-image: url(world.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-top: 0;
    position: absolute;
}

.indexlayout {
	text-align: center;
	border: 9px solid #4CAF50;
	border-radius: 50px;
	width: 30%;
	margin: auto;
	margin-top: 15%;
}

a.footer {
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 3px;
	text-decoration: none;
}

a.index {
	font-size: 30px;
	color: #000000;
}

a.index:hover {
	font-size: 30px;
	color: #000000;
	text-decoration: underline;
}

a.språk {
	font-size: 16px;
	color: #000000;
	text-decoration: none;
}

a.språk:hover {
	font-size: 16px;
	color: #4CAF50;
	text-decoration: underline;
}

a {
	font-size: 20px;
	color: #4ACF50;
	text-decoration: none;
}

footer {
	background-color: #4CAF50;
	text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 24px;
    width: 100%;
}